.form {
  display: grid;
  gap: var(--sp-500);
  max-width: 380px;
}

.label {
  display: inline-block;
  margin-block-end: var(--sp-200);
  font-size: var(--fs-200);
  letter-spacing: 0.1em;
}

.input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid var(--clr-neutral-300);
  border-radius: 0.4em;
  outline: none;

  &:focus-visible {
    border-color: var(--clr-neutral-900);
  }

  &::placeholder {
    color: var(--clr-neutral-300);
  }

  &--error {
    border-color: var(--clr-warning-500);
  }
}

.error {
  margin-block-start: var(--sp-100);
  color: var(--clr-warning-500);
  font-size: var(--fs-100);
}

.details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--sp-300);
}

.exp-date {
  grid-column: span 2;
  grid-row: span 3;
  display: grid;
  grid-template-rows: subgrid;
  column-gap: var(--sp-200);
  margin-block-end: var(--sp-300);
}

.exp-date-label {
  grid-column: span 2;
}

.exp-date-error {
  grid-column: span 2;
}

.cvc-label {
  grid-column: span 2;
  justify-self: start;
}

.cvc-input {
  grid-column: span 2;
}

.cvc-error {
  grid-column: span 2;
}
