// Simple
:root {
  --clr-accent-500: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(270, 3%, 87%);
  --clr-neutral-500: hsl(279, 6%, 55%);
  --clr-neutral-900: hsl(278, 68%, 11%);

  --clr-warning-500: hsl(0, 100%, 66%);
}
