@use "@/styles/0-settings/breakpoints.module";

.page {
  --_padding-inline: var(--sp-400);

  display: grid;
  align-content: start;
  gap: var(--sp-400);
  min-height: 100svh;

  @media (width > breakpoints.$desktop) {
    grid-template-columns: 30% 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.cards-block {
  display: grid;
  justify-items: center;

  @media (width > breakpoints.$desktop) {
    justify-items: end;
    align-items: center;
  }

  > * {
    grid-area: 1 / 1;
  }
}

.bg {
  width: 100%;
  height: 240px;
  margin-block-end: 3rem;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (width > breakpoints.$desktop) {
    height: 100%;
    margin-inline-end: 12rem;
    margin-block-end: 0px;
  }
}

.form-block {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: var(--_padding-inline);

  @media (width > breakpoints.$desktop) {
    justify-content: start;
    align-items: center;
    padding-inline-start: 20%;
  }
}
